<!DOCTYPE html>
<html>
<head>
    <title>Paper Marking</title>
    <style>
        * {
          box-sizing: border-box;
        }
        
        .column {
          float: left;
          width: 50%;
          padding: 10px;
        }
        
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
    </style>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="column" style="background-color:#aaa;">
                <h1>Upload Answer Image</h1>
                <input type="file" name="answer">
            </div>
            <div class="column" style="background-color:#aaa;">
                <h1>Upload Marking Image</h1>
                <input type="file" name="marking">
                <input type="submit" value="Upload">
            </div>
        </div>
    </form>
    <div class="row">
        <div class="column" style="background-color:#bbb;">
            {% if answer_src and marking_src and answer_modified_src and marking_modified_src %}
                <h2>Original Answer Image:</h2>
                <img src="{{ answer_src }}" alt="Original Answer Image" width="400">
        </div>
        <div class="column" style="background-color:#bbb;">
                <h2>Original Marking Image:</h2>
                <img src="{{ marking_src }}" alt="Original Marking Image" width="400">
        </div>
    </div>
    <div class="row">  
        <div class="column" style="background-color:#bbb;"> 
            <h2>Processed Answer Image:</h2>
            <img src="{{ answer_modified_src }}" alt="Processed Answer Image" width="400">
        </div>
        <div class="column" style="background-color:#bbb;"> 
            <h2>Processed Marking Image:</h2>
            <img src="{{ marking_modified_src }}" alt="Processed Marking Image" width="400">
            {% endif %}
        </div>
    </div>
</body>
</html>



