<!DOCTYPE html>
<html>
<head>
    <title>Paper Marking</title>
    <style>
        * {
          box-sizing: border-box;
        }
        
        .column {
          float: left;
          width: 50%;
          padding: 10px;
        }
        
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
    </style>
</head>
<body>
    <div style="text-align: center;">
        <h2>Welcome to Easy Question Marking</h2>
    </div>    
    <form method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="column" style="background-color:#aaa;">
                <h2>Upload Answer Image</h2>
                <input type="file" name="answer">
            </div>
            <div class="column" style="background-color:#aaa;">
                <h2>Upload Marking Image</h2>
                <input type="file" name="marking">
                <input type="submit" value="Upload">
            </div>
        </div>
    </form>
    <div class="row">
        <div class="column">
            {% if answer_src %}
                <h2>Original Answer Image:</h2>
                <img src="{{ answer_src }}" alt="Original Answer Image" width="400">
            {% endif %}
            </div>
            <div class="column">
            {% if marking_src %}
                <h2>Original Marking Image:</h2>
                <img src="{{ marking_src }}" alt="Original Marking Image" width="400">
            {% endif %}
            </div>
        </div>
    </div>
    <div class="row"> 
        <div class="column">
            {% if answer_segments_src %}
                <h2>Answer Segments:</h2>
                {% for segment_src in answer_segments_src %}
                    <img src="{{ segment_src }}" alt="Answer Segment" width="400">
                {% endfor %}
            {% endif %}
        </div> 
        <div class="column">
            {% if answer_texts %}
                <h2>Texts in Answer Segments:</h2>
                {% for text in answer_texts %}
                    <p>{{ text }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">  
        <div class="column">
            {% if marking_segments_src %}
                <h2>Marking Segments:</h2>
                {% for segment_src in marking_segments_src %}
                    <img src="{{ segment_src }}" alt="Marking Segment" width="400">
                {% endfor %}
            {% endif %}
        </div>
        <div class="column">  
            {% if marking_texts %}
                <h2>Texts in Marking Segments:</h2>
                {% for text in marking_texts %}
                    <p>{{ text }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">  
        <div class="column">
            {% if reordered_answer_texts %}
                <h2>Reorderd Answers</h2>
                {% for text in reordered_answer_texts %}
                    <p>{{ text }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="column">
            {% if reordered_answer_texts %}
                <h2>Reorderd Markings</h2>
                {% for text in reordered_marking_texts %}
                    <p>{{ text }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">  
        <div class="column">
            {% if similarity_results %}
                <h2>Reorderd Answers</h2>
                {% for text in similarity_results %}
                    <p>{{ text }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>

